@{
    ViewBag.Title = "Contact";
}


<address>
    MITT<br />
    130 Henlow Bay, Winnipeg, MB.<br />
    <abbr title="Phone">Phone :</abbr>
    111.222.0000
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:mohammadfoyaz90@gmail.com">Support@blogpost.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:kayserfoyez68@gmail.com">Marketing@blogpost.com</a>
</address>